@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.fav-report-card {
    background-image: url("../../assets/images/notebook-paper.jpeg");
    background-repeat: no-repeat;
    background-position: top center;
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.fav-school-name {
    width: 10em;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(105, 105, 246);
    overflow-wrap: normal;
}

.fav-title-and-info-container {
    display: grid;
    grid-template-rows: repeat(4, 2em);
    grid-gap: 0.5em;
}

.fav-card-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid seagreen;
    background-color: seagreen;
    color: whitesmoke;
    border-radius: 6em;
    margin-left: 1.25em;
    padding: 1em;
    height: 5em;
    width: 5em;
}

.fav-info-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 7em;
    height: 3em;
    color: seagreen;
    font-weight: bolder;
    overflow-wrap: break-word;
}