@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.user-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    height: 25em;
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
}

input {
    padding: .5em;
    margin: 1em;
    height: 1.5em;
    width: 18em;
    border-radius: 9.14px;
    border-color: whitesmoke;
}

.user-name-input  {
    background: none;
}

.password-input {
    background: none;
}

.welcome-message {
    margin-top: 3em;
    font-size: 35px;
}

.login-button {
    margin: 1em;
    width: 17em;
    height: 2.5em;
    border-radius: 9.14px;
    font-size: 18px;
}