.fav-logo-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fav-logo {
    display: flex;
    align-items: flex-end;
    font-weight: bolder;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 8em;
    font-size: 35pt;
    padding: 0.1em;
}

.fav-nav-bar {
    background-color: whitesmoke;
}
.fav-nav-button-container {
    display: flex;
    height: 2em;
    width: 75em;
    align-self: flex-end;
    justify-content: space-evenly;
    padding: 0.5em;
}