.guest-district-info-container {
    background-image: url("../../assets/images/monitor-screen.png");
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
}

.login-to-save-button, .guest-back-to-search {
    height: 6em;
    width: 6em;
    margin: 2em;
    color: whitesmoke;
    background-color: rgb(160, 160, 248);
}