.sign-in-logo-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5em;
    color: whitesmoke;
}

.sign-in-logo {
    display: flex;
    align-items: flex-end;
    font-weight: bolder;
    border: none;
    background: none;
    border-radius: 0.5em;
    margin-left: 0.5em;
    height: 1.5em;
    width: 9em;
    font-size: 35pt;
    color: whitesmoke;
    -webkit-text-stroke: 2px rgb(160, 160, 248);
}

.sign-in-nav-bar {
    background-color: whitesmoke;
}

.sign-in-nav-button-container {
    display: flex;
    height: 2em;
    width: 75em;
    align-self: flex-end;
    justify-content: space-evenly;
    padding: 0.5em;
    color: whitesmoke;
}