.App {
    background-image: url("../../assets/images/classroom-illustration.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

input, select, button {
    margin: 5px;
    width: 30%;
    font-size: 18px;
}

button {
    width: 17em;
    height: 2.5em;
    border-radius: 9.14px;
    font-size: 14px;
}