input, select, button {
    margin: 5px;
    width: 30%;
    border: 1px solid black;
    font-size: 18px;
}

button {
    width: 17em;
    height: 2.5em;
    border-radius: 9.14px;
    font-size: 14px;
}