.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 5em;
}

.search-input-street, .search-input-city,
.search-input-state-address {
    opacity: 65%;
    border-color: 2px rgb(156, 156, 248)
}

.search-button {
    margin: 1em;
    width: 17em;
    height: 2.5em;
    border-radius: 9.14px;
    font-size: 14px;
}