.district-info-container {
    background-image: url("../../assets/images/monitor-screen.png");
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
}

.add-district-to-favorites, .back-to-search, .saved-message {
    height: 4em;
    width: 6em;
    color: whitesmoke;
    background-color: rgb(160, 160, 248);
}

.back-to-search {
    margin-top: 5em;
    margin-left: 18em;
}

.add-district-to-favorites  {
     margin-top: 5em;
     margin-right: 18em;
 }

.saved-message {
    font-size: medium;
    margin-top: 5em;
    margin-right: 18em;
}